<h1>New Campaign</h1>

<%= render 'form', campaign: @campaign, path: blog_campaigns_path %>

<%= link_to t(:back), blog_campaigns_path(blog_id: @campaign.blog_id),class: "btn btn-primary",style: "color:#fff" %>

